@{
    ViewBag.Title = "_HomePageLayout";
    Layout = "~/Views/Shared/_MainPagePartialLayout.cshtml";
}

<!-- Header -->
<header id="head">
    <div class="container">
        <div class="banner-content">
            <div id="da-slider" class="da-slider">
                <div class="da-slide">
                    <h2 class="lead">Pest-Control</h2>
                    <p class="lead-Description">Amazing service for pest control!</p>
                    <div class="da-img"></div>
                </div>
                <div class="da-slide">
                    <h2 class="lead">Bug Problem?</h2>
                    <p class="lead-Description">Call us today for a professional termite inspection and a FREE, no obligation price quote!</p>
                    <div class="da-img"></div>
                </div>
                <div class="da-slide">
                    <h2 class="lead">Termites?</h2>
                    <p class="lead-Description">Call us today for a professional termite inspection and a FREE, no obligation price quote!</p>
                    <div class="da-img"></div>
                </div>
                <div class="da-slide">
                    <h2 class="lead">Boca-Termites?</h2>
                    <p class="lead-Description">Call us today for a professional termite inspection and a FREE, no obligation price quote!</p>
                    <div class="da-img"></div>
                </div>
                <nav class="da-arrows"> <span class="da-arrows-prev"></span> <span class="da-arrows-next"></span> </nav>
            </div>
        </div>
    </div>
</header>
<!-- /Header -->
<!-- Intro -->
<div class="container text-center sectionBox herotxt" id="welcome">
    <h2> WELCOME TO ALFA J SERVICES WEB PAGE</h2>
    <p class="text-muted" id="welcome-text">
        We at Alfa J Termite & Pest Control,
        offer a wide selection of pest control solutions to meet all of your needs including: Pest Control (residential & commercial) Termite Inspections,
        Termite Treatments and Monitoring, Repairs and Fumigations, Tree and Shrub Care, Weed Control and Fire ants,
        Lawn Fertilization and Comprehensive Lawn Care.
    </p>
</div>
<!-- /Intro-->

<!--Bug List-->
<div class="container serviceslist" id="serviceList">
    <div class="row">
        <div class="col-md-12">
            <header class="page-header">
                <h1 class="page-title" id="pestlist-header">Common Household Pest List!</h1>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-18 col-sm-6 col-md-2">
            <div class="thumbnail" style="text-align:center">
                <img src="~/Content/assets/images/pests/bed-bugs.jpg" class="img-responsive" alt="alfaJservices">
                <div class="caption">
                    <h4>BED BUGS</h4>
                    <p>GENUS <br />CIMEX</p>
                </div>
            </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-2">
            <div class="thumbnail" style="text-align:center">
                <img src="~/Content/assets/images/pests/ants.jpg" alt="alfaJservices">
                <div class="caption">
                    <h4>ANTS</h4>
                    <p>FAMILY <br />FORMICIDAE </p>
                </div>
            </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-2">
            <div class="thumbnail" style="text-align:center">
                <img src="~/Content/assets/images/pests/cockroaches.jpg" alt="alfaJservices">
                <div class="caption">
                    <h4 style="text-align:center">COCKROACHES</h4>
                    <p>ORDER <br />BLATTARIA</p>
                </div>
            </div>
        </div>
        <div class="col-xs-18 col-sm-6 col-md-2">
            <div class="thumbnail" style="text-align:center">
                <img src="~/Content/assets/images/pests/termites.jpg" alt="alfaJservices">
                <div class="caption">
                    <h4>TERMITES</h4>
                    <p>ORDER <br />ISOPTERA</p>
                </div>
            </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-2">
            <div class="thumbnail" style="text-align:center">
                <img src="~/Content/assets/images/pests/fleas.jpg" alt="alfaJservices">
                <div class="caption">
                    <h4>FLEAS</h4>
                    <p>ORDER <br />SIPHONAPTERA</p>
                </div>
            </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-2">
            <div class="thumbnail" style="text-align:center">
                <img src="~/Content/assets/images/pests/flies.jpg" alt="alfaJservices">
                <div class="caption">
                    <h4>FLIES</h4>
                    <p>ORDER <br />DIPTERA</p>
                </div>
            </div>
        </div>
    </div><!-- End first row -->
    <div class="row">
        <div class="col-xs-18 col-sm-6 col-md-2">
            <div class="thumbnail" style="text-align:center">
                <img src="~/Content/assets/images/pests/ticks.jpg" alt="alfaJservices">
                <div class="caption">
                    <h4>TICKS</h4>
                    <p>ORDER <br />ACARI</p>
                </div>
            </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-2">
            <div class="thumbnail" style="text-align:center">
                <img src="~/Content/assets/images/pests/mosquitos.jpg" alt="alfaJservices">
                <div class="caption">
                    <h4>MOSQUITOES</h4>
                    <p>FAMILY <br />CULICDEA</p>
                </div>
            </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-2">
            <div class="thumbnail" style="text-align:center">
                <img src="~/Content/assets/images/pests/earwings.jpg" alt="alfaJservices">
                <div class="caption">
                    <h4>EARWINGS</h4>
                    <p>ORDER <br/>DERMAPTERA</p>
                </div>
            </div>
        </div>
        <div class="col-xs-18 col-sm-6 col-md-2">
            <div class="thumbnail" style="text-align:center">
                <img src="~/Content/assets/images/pests/rodents.jpg" alt="alfaJservices">
                <div class="caption">
                    <h4>RODENTS</h4>
                    <p>ORDER <br />RODENTIA</p>
                </div>
            </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-2">
            <div class="thumbnail" style="text-align:center">
                <img src="~/Content/assets/images/pests/spiders.jpg" alt="alfaJservices">
                <div class="caption">
                    <h4>SPIDERS</h4>
                    <p>ORDER <br />ARANEAE</p>
                </div>
            </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-2">
            <div class="thumbnail" style="text-align:center">
                <img src="~/Content/assets/images/pests/beetles.jpg" alt="alfaJservices">
                <div class="caption">
                    <h4>BEETLES</h4>
                    <p>ORDER <br />COLEOPTERA</p>
                </div>
            </div>
        </div>
    </div><!-- End Second row -->
</div><!-- End container -->
<!-- Highlights - jumbotron -->
<div class="jumbotron sectionBox">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption">
                    <h4><i class="fa fa-users fa-2x circle"></i>PEST CONTROL</h4>
                </div>
                <div class="h-body text-Justify">
                    <p>
                        Pest control is very important here in sunny Florida. There are a multitude of different bugs that are trying to make your home their own compromising the health of your home and family.
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption">
                    <h4><i class="fa fa-bar-chart-o fa-2x circle"></i>Alfa J Services</h4>
                </div>
                <div class="h-body text-Justify">
                    <p>Healthy Home Pest Control program focuses on your home's exterior. We apply pinpoint placement treatments around base of your home to protect your property 24 hours a day from invading pests. Ants, roaches, spiders, fleas, ticks, and other Florida bugs don't stand a chance with our program</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption">
                    <h4><i class="fa fa-gears fa-2x circle"></i>SERVICES</h4>
                </div>
                <div class="h-body text-left" style="color:white">
                    <ul>
                        <li>Commercial</li>
                        <li>Residential</li>
                        <li>Schools</li>
                        <li>Restaurants</li>
                        <li>Pre-Contructions</li>
                        <li>Shoping Plazas</li>
                        <li>Apartment Complexs</li>                        
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption">
                    <h4><i class="fa fa-file-word-o fa-2x circle"></i>REPORTS</h4>
                </div>
                <div class="h-body text-Justify style=" color:white"">
                    <p>Nullam ac rhoncus sapien, non gravida purus. Alinon elit imperdiet congue. Integer ultricies sed elit imperdiet congue. Integer ultricies sed ligula eget tempus.</p>
                </div>
            </div>
        </div>
        <!-- /row  -->

    </div>
</div>
<!-- /Highlights -->
@* About the company *@
<section class="sectionBox">
    <div class="container">
        <div class="heading">
            <!-- Heading -->
            <h2>About the Company</h2>
            <br />
        </div>
        <div class="row">
            <div class="col-md-4"> <img src="~/Content/assets/images/aboutcompany.jpg" alt="" class="img-responsive"> </div>
            <div class="col-md-8" style="text-align:justify">
                <p>We’ve Been Here From The Beginning.</p>
                <blockquote class="blockquote-1">
                    <p> Founded in 1901 by 14-year-old AlfaJ PestControl,
                        we have more than 100 years of experience in pest control services and are leaders in the industry,
                        specializing in protection against common pests, including termites, rodents, and insects.
                        In addition to pest control, we also offer integrated plans to help protect the whole home,
                        including lawan and moisture control services.
                    </p>
                    <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                </blockquote>
            </div>
        </div>
    </div>
</section>
<!-- container -->

<!-- WIll be used for facebook and youtube link -->
<section class="sectionBox">
    <div class="container">
        <div class='row'>
            <div class='col-md-6'>
                <!-- You tube LInk -->
                <embed style="align-content: center; width: 100%; height: 400px;"
                       src="https://www.youtube.com/embed/tlz0Zkin8kQ">
            </div>
            <div class='col-md-6'>
                <!-- facebook LInk -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28607.070701752593!2d-80.17800188402903!3d26.33026069282234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x6b940de1692604cc!2sAlfa+J+Services+Termite+and+Pest+Control!5e0!3m2!1sen!2sbd!4v1425121525587" width="100%" height="300" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
    </div>
</section>
<div class="container-fluid" style="padding-left: 5%; padding-right: 5%">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Leave your comments here...
        </div>
        <div class="panel-body">
            <div class="fb-comments" data-href="https://www.facebook.com/pages/Alfa-J-Pest-Control/684150931683346"
                 data-width="100%" data-numposts="2" data-colorscheme="light" style="max-height:400px">
            </div>  
        </div>
    </div>
</div>
<!-- container -->
<div class="footer1" style="">
    <div class="container">
        <div class="row">
            <div class="col-md-5 panel">
                <h3 class="panel-title">Currently Have Termites?</h3>
                <div class="panel-body">
                    <p>Even the toughest colonies can't stand up to our extermination system. The sooner you act, the sooner we can eliminate the problem.</p>
                </div>
                <h3 class="panel-title">Now Have Termites?</h3>
                <div class="panel-body">
                    <p>For less cost per year, the Termite Inspection & Protection with us, guarantees that termites will NEVER cost you a cent in control fees, damages, or repair fees.</p>
                </div>
            </div>
            <div class="col-md-4 panel contact">
                <h3 class="panel-title"> Contact Info </h3>
                    <div class="panel-body">
                        <p>Call us today for a professional termite inspection and a FREE, no obligation price quote!</p>
                        <ul>
                            <li><i class="fa fa-phone"></i> Office Phone: (561) 488-1759</li>
                            <li><i class="fa fa-phone"></i> Direct Phone: (561) 929-3585</li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i> alfapestcontrol@gmail.com</a></li>
                            <li><i class="fa fa-flag"></i> 8574 Dynasty Dr. Boca Raton, FL 33433</li>
                        </ul>
                    </div>
            </div>
            <div class="col-md-3 panel">
                <h3 class="panel-title">Follow Us</h3>
                <div class="panel-body">
                    <p class="follow-me-icons"> <a href=""><i class="fa fa-twitter fa-2"></i></a> <a href=""><i class="fa fa-dribbble fa-2"></i></a> <a href=""><i class="fa fa-github fa-2"></i></a> <a href=""><i class="fa fa-facebook fa-2"></i></a> <a href=""><i class="fa fa-youtube fa-2"></i></a> <a href=""><i class="fa fa-pinterest fa-2"></i></a> </p>
                </div>
            </div>
        </div>
        <!-- /row of panels -->
    </div>
</div>