<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
  <!--Admin User Registration Link-->
  <!--
    http://www.yourDomainNameHere.com/register_AlfaJ_PestControl_ServiceS_admin_user
  -->

  <!--Admin User Login Link-->
  <!--
    http://www.yourdomain.com/admin/login
  -->
  
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-ASPNetMVCExtendingIdentity2Roles-20140722111738.mdf;Initial Catalog=aspnet-ASPNetMVCExtendingIdentity2Roles-20140722111738;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=taskin;Initial Catalog=PestControl; User ID=taskin; Password=123456;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!--Site Logo Path. Change if logo destination path changed!-->
    <add key="SiteLogoPath" value="/Content/assets/images/logo.jpg" />
    
    <add key="EmailTemplatePath" value="~/EmailTemplates" />

    <add key="AdminEmail" value="softcodertech@gmail.com" />
    <add key="FromEmail" value="no.reply@alfajpestcontrol.com" />
    <add key="FromEmailName" value="alfajpestcontrol.com" />
    <add key="ItemPerPage" value="30" />

    <add key="PaymentEmailName" value="email-payment.txt" />
    <add key="PaymentEmailSubject" value="payment on alfajservice.com was successfully submitted!" />
    
    <add key="ContactApproveMail" value="email-contact.txt" />
    <add key="ContactApproveSubject" value="Contact schedule approval!" />

    <add key="ContactReceivedMail" value="email-contact-receive.txt" />
    <add key="ContactReceivedSubject" value="Schedule Request Received!" />
    
    <add key="ContactRequestSubmittedSucessfully" value="email-contact-submit-confirmation.txt" />
    <add key="ContactRequestSubmittedSubject" value="Schedule Request Sucessfully submitted in AlfaJ PestControl!" />
    
    <add key="ContactApprovalConfirmationNotificationMail" value="email-contact-approval-confirmation-notification.txt" />
    <add key="ContactApprovalConfirmationNotificationSubject" value="You have a contact approval confirmation!" />
    
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <!--<network host="relay-hosting.secureserver.net" userName="" password="" port="25"/>-->
        <!--<network host="k2smtpout.secureserver.net" userName="" password="" port="25" />-->
        <network host="smtp.gmail.com" userName="softcodertech@gmail.com" enableSsl="true" password="" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>