
@{
    ViewBag.Title = "Contact Approval";
    Layout = "~/Views/Shared/_MainPagePartialLayout.cshtml";
}

<h2>Contact Approval</h2>
<p>Thank you. Your contact has been schedualed. Our customer service will contact you soon.</p>

