body {
    width: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #949494;
    background-color: #ebebeb;
}
	body.home-page {
		height: 100%;
	}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 5px;
    /*text-transform: uppercase;*/
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #464646;
	line-height:1.5;
}

h1, h2 {
	text-transform:uppercase;
}

p {
    margin: 0 0 25px;
    font-size: 14px;
    line-height: 1.5;
}
.delay1 {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}
.delay1-5 {
	animation-delay: 1.5s;
	-webkit-animation-delay: 1.5s;
}
.delay2 {
	animation-delay: 2s;
	-webkit-animation-delay: 2s;
}
.delay2-5 {
	animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.delay3 {
	animation-delay: 3s;
	-webkit-animation-delay: 3s;
}
.delay3-5 {
	animation-delay: 3.5s;
	-webkit-animation-delay: 3.5s;
}

a {
    color: #76a549;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #4D800A;
}

.light {
    font-weight: 400;
}

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom a {
    color: #777;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: #76a549;
    color: #FFF;
}
.navbar-custom .nav li.active a {
	color: #FFF;
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

.intro {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;
	position:relative;
	/*background: url(../img/intro-bg.jpg) no-repeat bottom center #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.brand-heading {
    font-size: 40px;
    color: #FFF;
}

.intro-text {
    font-size: 18px;
}

.btn-circle {
	height: 70px;
	margin-top: 15px;
	padding: 7px 16px;
	border: 2px solid #fff;
	font-size: 40px;
	color: #fff;
	display:block;
	background: rgba(0, 0, 0, 0.3);
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	-o-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,0.1);
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0 {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0 {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

.work-section {
	width: 100%;
	padding: 50px 0;
	overflow: hidden;
	background-color: #FFF;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

.btn {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#fff;
    text-transform: uppercase;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #A5A5A5;
    background-color: #A5A5A5;
}

.btn-default:hover,
.btn-default:focus {
    color: #000;
    border: 1px solid #8d8d8d;
    outline: 0;
    background-color: #8d8d8d;
}

.btn-huge {
    padding: 25px;
    font-size: 26px;
}

.banner-social-buttons {
    margin-top: 0;
}


img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}

/* About Section */
#about {
	background: #ebebeb;
}
.fontawesome-icon.medium.square-center, .fontawesome-icon.medium.square-white {
	width: 50px;
	height: 50px;
	line-height: 50px;
	display: inline-block;
}
.fontawesome-icon.medium {
	font-size: 20px;
}
.fontawesome-icon.square-center {
	background-color: #76a549;
	color: #FFF;
	text-align: center;
	margin-bottom: 5px;
}
.fontawesome-icon.large.square-white-center, .fontawesome-icon.large.square-white {
	width: 120px;
	height: 60px;
	line-height: 150px;
	display: inline-block;
}
.fontawesome-icon.large {
	font-size: 40px;
}
.fontawesome-icon.square-white-center {
	color: #666;
	text-align: center;
	margin-bottom: 5px;
}
.white-bg {
	background: #FFF;
	-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.033);
	-moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.033);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.033);
}
.white-divider {
	border: 1px solid #ebebeb;
	border-right: none;
	border-top: none;
}
.white-divider-last {
	border-bottom: none;
	border-left: 1px solid #ebebeb;
}
.white-bg p {
	margin-bottom: 20px;
	margin-top: 0;
}
.white-pad {
	padding: 20px 0 0 0;
}
.bar {
	/*border-bottom: 1px solid #999;*/
	display: inline-block;
	width: 120px;
	margin-bottom: 10px;
	margin-top: 10px;
}

/* Work */
ul.grid {
	margin-left: 0;
}
.grid {
	padding: 20px 0px 100px 0px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}


.grid li {
	display: inline-block;
	width: 377px;
	margin: 0;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #464646;
	color: #888;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption span:before {
	content: 'by ';
}

.grid figcaption a {
	font-family: 'Raleway', Arial;
	text-align: center;
	padding: 10px 20px;
	border-radius: 2px;
	border-bottom: 2px solid #4D800A;
	display: inline-block;
	background: #76a549;
	text-transform: uppercase;
	color: #fff;
}
.grid figcaption a:hover {
	background: #4D800A;
}

/* Individual Caption Styles */

/* Caption Style 1 */
.cs-style-1 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.no-touch .cs-style-1 figure:hover figcaption,
.cs-style-1 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translate(15px, 15px);
	-moz-transform: translate(15px, 15px);
	-ms-transform: translate(15px, 15px);
	transform: translate(15px, 15px);
}

.cs-style-1 figcaption h3 {
	margin-top: 70px;
}

.cs-style-1 figcaption span {
	display: block;
}

.cs-style-1 figcaption a {
	margin-top: 30px;
}

/* Caption Style 2 */
.cs-style-2 figure img {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-2 figure:hover img,
.cs-style-2 figure.cs-hover img {
	-webkit-transform: translateY(-90px);
	-moz-transform: translateY(-90px);
	-ms-transform: translateY(-90px);
	transform: translateY(-90px);
}

.cs-style-2 figcaption {
	height: 90px;
	width: 100%;
	top: auto;
	bottom: 0;
}

.cs-style-2 figcaption a {
	position: absolute;
	right: 20px;
	top: 30px;
}

/* Caption Style 3 */
.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/* Caption Style 4 */
.cs-style-4 li {
	-webkit-perspective: 1700px;
	-moz-perspective: 1700px;
	perspective: 1700px;
	-webkit-perspective-origin: 0 50%;
	-moz-perspective-origin: 0 50%;
	perspective-origin: 0 50%;
}

.cs-style-4 figure {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.cs-style-4 figure > div {
	overflow: hidden;
}

.cs-style-4 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-4 figure:hover img,
.cs-style-4 figure.cs-hover img {
	-webkit-transform: translateX(25%);
	-moz-transform: translateX(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
}

.cs-style-4 figcaption {
	height: 100%;
	width: 50%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-4 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/* Caption Style 5 */
.cs-style-5 figure img {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-5 figure:hover img,
.cs-style-5 figure.cs-hover img {
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	-ms-transform: scale(0.4);
	transform: scale(0.4);
}

.cs-style-5 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

.no-touch .cs-style-5 figure:hover figcaption,
.cs-style-5 figure.cs-hover figcaption {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.cs-style-5 figure a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/* Caption Style 6 */
.cs-style-6 figure img {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-6 figure:hover img,
.cs-style-6 figure.cs-hover img {
	-webkit-transform: translateY(-50px) scale(0.5);
	-moz-transform: translateY(-50px) scale(0.5);
	-ms-transform: translateY(-50px) scale(0.5);
	transform: translateY(-50px) scale(0.5);
}

.cs-style-6 figcaption {
	height: 100%;
	width: 100%;
}

.cs-style-6 figcaption h3 {
	margin-top: 60%;
}

.cs-style-6 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/* Caption Style 7 */
.cs-style-7 li:first-child { z-index: 6; }
.cs-style-7 li:nth-child(2) { z-index: 5; }
.cs-style-7 li:nth-child(3) { z-index: 4; }
.cs-style-7 li:nth-child(4) { z-index: 3; }
.cs-style-7 li:nth-child(5) { z-index: 2; }
.cs-style-7 li:nth-child(6) { z-index: 1; }

.cs-style-7 figure img {
	z-index: 10;
}

.cs-style-7 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
	-moz-transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
	transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
	box-shadow: 0 0 0 0px #2c3f52;
}

.no-touch .cs-style-7 figure:hover figcaption,
.cs-style-7 figure.cs-hover figcaption {
	opacity: 1;
	height: 130%;
	box-shadow: 0 0 0 10px #2c3f52;
}

.cs-style-7 figcaption h3 {
	margin-top: 86%;
}

.cs-style-7 figcaption h3,
.cs-style-7 figcaption span,
.cs-style-7 figcaption a {
	opacity: 0;
	-webkit-transition: opacity 0s;
	-moz-transition: opacity 0s;
	transition: opacity 0s;
}

.cs-style-7 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.no-touch .cs-style-7 figure:hover figcaption h3,
.no-touch .cs-style-7 figure:hover figcaption span,
.no-touch .cs-style-7 figure:hover figcaption a,
.cs-style-7 figure.cs-hover figcaption h3,
.cs-style-7 figure.cs-hover figcaption span,
.cs-style-7 figure.cs-hover figcaption a {
	-webkit-transition: opacity 0.3s 0.2s;
	-moz-transition: opacity 0.3s 0.2s;
	transition: opacity 0.3s 0.2s;
	opacity: 1;
}


/* Pricing Tables */
#pricing {
	background: #558cbd;
	padding: 100px 0;
}
.plan {
	background: #f6f6f6;
	/*border: 1px solid #2a5e8c;*/
	text-align: center;

	border: 1px solid #E9E9E9;
	margin-top: 12px;

	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	/*-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.055);
	-moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.055);
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.055);*/
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.blue-bg h2 {
	color: #FFF;
}
.blue-bg p {
	color: #FFF;
}
.blue-bg .bar {
	border-bottom: 1px solid #FFF;
}
.plan-head {
	background: #FFF;
}
.plan h3 {
	font-size: 18px;
	padding: 20px 0px 20px;
	margin: 0px;
	border-bottom: 1px solid #DDD;
}
.plan .price {
	padding: 10px 0px;
	border-bottom: 1px solid #DDD;
	font-size: 20px;
}
.plan .price h4 {
	font-size: 60px;
	margin-top: 20px;
	margin-bottom: 0;
	font-weight: normal;
}
.plan .price span {
	font-size: 12px;
	color: #777;
}
.plan ul {
	margin: 0px;
	list-style: none;
	padding: 0px;
	background-color: #FFF;
}
.plan li {
	padding: 10px 0px;
	background: #FAFAFA;
}
.plan li.two_plan {
	background: #FFF;
}
.plan .signup {
	padding: 20px 0px;
	border-top: 1px solid #DDD;
}
.reg-btn {
	font-family: 'Raleway', Arial;
	text-align: center;
	padding: 10px 20px;
	border-radius: 2px;
	border-bottom: 2px solid #4D800A;
	display: inline-block;
	background: #76a549;
	text-transform: uppercase;
	color: #fff;
}
.reg-btn:hover {
	background: #4D800A;
	color: #FFF;
}
/* Testimonials */
#testimonials {
	position: relative;
}

/* Quote Roator */
.cbp-qtrotator {
    position: relative;
    width: 100%;
}
 
.cbp-qtrotator .cbp-qtcontent {
    position: absolute;
    min-height: 200px;
    padding: 2em 0;
    top: 0;
    z-index: 0;
    opacity: 0;
    width: 100%;
	/*min-height: 300px\9;*/
}

.cbp-qtrotator .cbp-qtcontent blockquote {
	/*min-height: 300px\9;*/
}
 
.no-js .cbp-qtrotator .cbp-qtcontent {
    border-bottom: none;
}
 
/* Currently visible */
.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
    position: relative;
    z-index: 100;
    pointer-events: auto;
    opacity: 1;
}
 
.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after {
    content: " ";
    display: table;
}
 
.cbp-qtrotator .cbp-qtcontent:after {
    clear: both;
}
 
.cbp-qtprogress {
    position: absolute;
    background: #48B0E4;
    height: 1px;
    width: 0%;
    top: 0;
	left: 0;
    z-index: 1000;
}
 
.cbp-qtrotator blockquote {
    margin: 0;
    padding: 0;
    border-left: none;
}
 
.cbp-qtrotator blockquote p {
    font-size: 2em;
    color: #888;
    font-weight: 300;
    margin: 0.4em 0 1em;
}
 
.cbp-qtrotator blockquote footer {
    font-size: 1.2em;
}
 
.cbp-qtrotator blockquote footer:before {
    content: '? ';
}
 
.cbp-qtrotator .cbp-qtcontent img {
    float: right;
    margin-left: 3em;
}


/* Nesletter */
#newsletter {
	background: #444;
	/*margin-top: 70px;*/
	padding: 100px 0;
}
#newsletter h2 {
	color: #FFF;
}
.btn, .input-btn {
    color: #FFF;
    padding: 12px;
    border:none;
    font-size: 14px !important;
    font-weight: bold;
    text-transform: none !important;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-transition: background-color .2s linear, color .2s linear;
    -moz-transition: background-color .2s linear, color .2s linear;
    -o-transition: background-color .2s linear, color .2s linear;
    -ms-transition: background-color .2s linear, color .2s linear;
    transition: background-color .2s linear, color .2s linear;
}
.btn-primary, .input-btn {
    background: #76a549;
}

.btn-primary:hover, .input-btn:hover,
.btn-primary:focus, .input-btn:focus {
    background: #4D800A;
    color: #fff;
    border:none;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
border-radius: 0;
}
.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
	border-radius: 0;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Footer */
#footer {
	background: #333;
	padding: 40px 0 38px;
}
.social {
	text-align: right;
}
.social i {
	font-size: 24px;
}



.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary.active {
	background-color: #76a549;
	border-color: #76a549;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: #76a549;
	border-color: #76a549;
}